//Primary font
$primary-font: 'Manrope', sans-serif;

//Colors
$dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

body {
    background: $light-grayish-blue;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    
    a { 
        color: hsl(228, 45%, 44%); 
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 50px 20px;
    font-family: $primary-font;
    background: white;
    border-radius: 10px;
    overflow: hidden;

    @media (min-width: 800px) {
        flex-direction: row;
        width: 100%;
        max-width: 700px;
        height: 100%;
        max-height: 280px;
        margin: 200px auto;
    }

    .article-img {
        //width: 300px;
        height: 200px;
        margin: 0;

        @media (min-width: 800px) {
            width: 660px;
            height: 280px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .article-content {
        display: flex;
        flex-direction: column;
        padding: 25px;

        h1 {
            font-weight: 700;
            font-size: 17px;
            margin: 0 0 16px 0;
            color: $dark-grayish-blue;

            @media (min-width: 800px) {
                font-size: 21px;
            }
        }

        p {
            font-size: 13px;
            color: $desaturated-blue;
            margin: 0 0 36px 0;

            @media (min-width: 800px) {
                margin: 0 0 30px 0;
            }
        }
    
        .article-content-2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .article-author {
                display: flex;
                flex-direction: row;

                .img-author {
                    width: 50px;
                    height: 50px;
                    margin: 0 20px 0 0;
                }
        
                .img-author > img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
        
                .details-author {
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                    font-size: 13px;
                }

                .details-author > .name__author {
                    font-weight: 700;
                    color: $dark-grayish-blue;
                }

                .details-author > .date__published {
                    color: $desaturated-blue;
                }
            }

            .share-content {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background: $dark-grayish-blue;
                color: $light-grayish-blue;
                align-items: center;
                right: -32px;
                padding: 30px;

                @media (min-width: 800px) {
                    border-radius: 10px;
                    display: none;
                    top: -93px;
                    left: 259px;
                    max-width: fit-content;
                    padding: 15px;
                }
            }

            .share-content::after {
                display: none;

                @media (min-width: 800px) {
                    content: "";
                    position: absolute;
                    bottom: -9px;
                    left: 104px;
                    border-width: 10px 10px 0;
                    border-style: solid;
                    border-color: $dark-grayish-blue transparent;
                    display: block;
                    width: 0;
                }
            }
        
            .share-content > p {
                color: $desaturated-blue;
                text-transform: uppercase;
                letter-spacing: 4px;
                margin: 0 20px 0 0;
                font-size: 15px;
            }
        
            .share-content > a {
                text-decoration: none;
                color: $light-grayish-blue;
            }
            
            .share-content > a > i {
                margin: 0 15px 0 0;
                cursor: pointer;
            }

            .hidden {
                display: none;
            }

            .share-active {
                background-color: var(--desaturated-dark-blue);
            }
            
            .share-icon-active {
                fill: white;
                z-index: 99999;
            }

            .btn-share {
                border-radius: 50%;
                background: $light-grayish-blue;
                height: fit-content;
                border: none;
                cursor: pointer;
                z-index: 1000;
                margin-left: auto;
                padding: inherit;
            }

            .btn-share > svg {
                padding: 10px;
            }
        }   
    }
}